<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sneepy {{config.version}}</title>

<style>
{{assets.css}}
{{assets.prism.css}}
</style>
</head>

<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-md-3 col-lg-2" id="sidebar">
			<div class="btn-group pt-3 pb-3 bg-dark sticky-top d-flex">
				<button type="button" title="Add folder" class="btn btn-outline-primary" onclick="javascript:addFolder(); return false;">F</button>
				<button type="button" title="Add snippet" class="btn btn-outline-primary disabled" onclick="javascript:addSnippet(); return false;" id="add-snippet">S</button>
				<button type="button" title="Manage files" class="btn btn-outline-primary" onclick="javascript:manageFiles(); return false;">M</button>
				<button type="button" title="Reload" class="btn btn-outline-primary" onclick="javascript:reload(); return false;" id="reload">R</button>
			</div>

			<ul class="list-group pb-3">
				<li class="list-group-item active" onclick="javascript:selectFolder(this);return false;" data-folder="">All snippets</li>
				{% for folder in folders %}
				<li class="list-group-item" onclick="javascript:selectFolder(this);return false;" data-folder="{{folder}}">{{folder}}</li>
				{% endfor %}
			 </ul>
		</div>

		<div class="col-sm-8 col-md-9 col-lg-10">

			<div class="pt-3 pb-3 bg-dark sticky-top">
				<div class="input-group">
					<input type="text" class="form-control" onkeyup="setSearchQuery();" id="query" placeholder="Search">
					<button class="btn btn-outline-primary" onclick="clearSearchQuery();" title="Clear">&times;</button>
				</div>
			</div>

			{% for snippet in snippets %}

			<div class="card mb-3 snippet" data-snippet-id="{{snippet.id}}" data-folder="{{snippet.folder}}" data-title="{{snippet.title}}">
				<div class="card-header"><span onclick="javascript:editSnippet('{{snippet.folder}}', '{{snippet.title}}');return false;">{{snippet.title}}</span></div>
				<div class="card-body" id="snippet{{snippet.id}}" data-snippet-id="{{snippet.id}}" onclick="javascript:copySnippet(this);return false;">
					<pre><code class="language-{{snippet.ext}}">{{snippet.code}}</code></pre>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>

<script>
config_minimize = {{config.minimize}};
{{assets.js}}
{{assets.prism.js}}
</script>
</body>
</html>